<div layout="row" flex flex-offset="5" layout-align="center center" style="height:200px" ng-if="sia.isLoading">
    <md-progress-circular md-mode="indeterminate" md-diameter="40"></md-progress-circular>
</div>

<div ng-if="!sia.isLoading" style="margin-left:15px;">    
    <div ng-if="::sia.SiaResponse.AbnormalTimePeriods.length === 0">

        <h2 ng-if="::sia.analysisType !='tcpConnectionsAnalysis'" class="md-title" style="margin-bottom:0;text-decoration:underline;color:#5f5f5f">
            Application is running healthy.</h2>
        <h2 ng-if="::sia.analysisType =='tcpConnectionsAnalysis'" class="md-title" style="margin-bottom:0;text-decoration:underline;color:#5f5f5f">
            No issues detected with Port Rejections in this time frame
        </h2>
      
    </div>
</div>

<md-list style="width:100%;" ng-if="!sia.isLoading">

    <!--<md-divider></md-divider>-->

    <div style="padding-left: 50px;padding-right: 50px;">

        <div flex class="md-sticky time-period-nav" layout="row" ng-if="sia.SiaResponse.AbnormalTimePeriods.length > 0">
            <div flex="20" ng-if="sia.selectedAbnormalTimePeriod.index <= 0"></div>
            <div flex="20" class="time-period-nav-direction" ng-click="sia.selectDowntime(sia.selectedAbnormalTimePeriod.index - 1)" ng-if="sia.selectedAbnormalTimePeriod.index > 0 ">
                <div flex layout="row">
                    <md-button class="md-icon-button" ng-click="" aria-label="">
                        <ng-md-icon icon="chevron_left" style="fill:#5f5f5f"></ng-md-icon>
                    </md-button>
                    <div flex></div>
                </div>
            </div>
            <div flex></div>
            <h1>
                Start Time : {{ sia.selectedAbnormalTimePeriod.data.StartTime | date: 'EEE MMM-dd, hh:mm a': 'UTC'}} (UTC), End Time : {{ sia.selectedAbnormalTimePeriod.data.EndTime | date: 'EEE MMM-dd, hh:mm a': 'UTC'}} (UTC)
            </h1>
            <div flex></div>
            <div flex="20" ng-if="sia.selectedAbnormalTimePeriod.index + 1 >= sia.SiaResponse.AbnormalTimePeriods.length"></div>
            <div flex="20" class="time-period-nav-direction" ng-click="sia.selectDowntime(sia.selectedAbnormalTimePeriod.index + 1)" ng-if="sia.selectedAbnormalTimePeriod.index + 1 < sia.SiaResponse.AbnormalTimePeriods.length">
                <div flex layout="row">
                    <div flex></div>
                    <md-button class="md-icon-button" aria-label="" ng-click="">
                        <ng-md-icon icon="chevron_right" style="fill:#5f5f5f"></ng-md-icon>
                    </md-button>
                </div>
            </div>

        </div>

    </div>

    <div>

        <div ng-if="sia.selectedAbnormalTimePeriod.data.Events.length === 0">
            <md-list-item layout="row" style="padding:0">

                <div class="discussion-timeline"></div>
                <div layout="column" flex="5">
                    <div class="discussion-timeline-nodata-icon" layout-align="center center">
                        <ng-md-icon icon="priority_high" style="fill: white;padding-left:2px;padding-top:6px" size="20"></ng-md-icon>
                    </div>
                </div>

                <div layout="column" flex="95" style="padding-top:10px">
                    <div layout="row">
                        <div class="sia-dialog" style="background-color:#EFEBE9;color:black">
                            No Correlated Events found.
                        </div>
                    </div>
                </div>

            </md-list-item>
        </div>

        <!-- VCurrent Feature -->
        <div ng-if="!sia.isVNext " ng-repeat="event in sia.selectedAbnormalTimePeriod.data.Events">

            <md-list-item layout="row" style="padding:0">

                <div class="discussion-timeline"></div>
                <div layout="column" flex="5">
                    <div class="discussion-timeline-problem-icon">
                        #{{::event.Priority}}
                    </div>
                </div>

                <div layout="column" flex="95" style="padding-top:20px">

                    <div layout="row">

                        <div class="sia-dialog">
                            {{::event.Message}}
                        </div>

                    </div>

                </div>

            </md-list-item>

            <md-list-item layout="row" style="padding:0">

                <div class="discussion-timeline"></div>
                <div layout="column" flex="5">
                    <div class="discussion-timeline-solution-icon">
                        <md-icon md-svg-icon="success" style="height:100%;width:100%"></md-icon>
                    </div>
                </div>

                <div layout="column" flex="95" style="padding-top:10px">

                    <div layout="row">

                        <div class="sia-dialog">
                            <div btf-markdown="::sia.DetectorData[event.Source].solution" class="sia-markdown">
                            </div>
                        </div>

                    </div>

                </div>

            </md-list-item>

            <md-list-item layout="row" style="padding:0;padding-bottom:30px">

                <div class="discussion-timeline"></div>
                <div layout="column" flex="5">
                    <div class="discussion-timeline-data-icon">
                        <md-icon md-svg-icon="evidence" style="height:100%;width:100%"></md-icon>
                    </div>

                </div>

                <div layout="column" flex="95" style="padding-top:10px">

                    <div style="display: inline-block;">

                        <detector-view loading="::sia.DetectorData[event.Source].loading"
                                       chartoptions="::sia.DetectorData[event.Source].chartoptions"
                                       chartdata="::sia.DetectorData[event.Source].chartdata"
                                       info="::sia.DetectorData[event.Source].info" ,
                                       responsemetadata="::sia.DetectorData[event.Source].responsemetadata"
                                       wiki="::sia.DetectorData[event.Source].wiki"
                                       solution="::sia.DetectorData[event.Source].solution"
                                       metricsets="::sia.DetectorData[event.Source].metricsets"
                                       additionaldata="::sia.DetectorData[event.Source].additionalData"
                                       selectedworker="::event.Instance"
                                       detectorsource="::event.Source"
                                       abnormaltimeperiod="::sia.selectedAbnormalTimePeriod.data">
                        </detector-view>

                    </div>

                </div>

            </md-list-item>

        </div>

        <!-- VNext Feature -->
        <div ng-if="sia.isVNext && (sia.SiaResponse.AbnormalTimePeriods.length > 0 && sia.selectedAbnormalTimePeriod.data.Events.length > 0)">

            <md-list-item layout="row" style="padding:0">

                <div class="discussion-timeline" style="margin-top:35px"></div>
                <div layout="column" flex="5">
                    <div class="discussion-timeline-solution-icon">
                        <md-icon md-svg-icon="warning" style="height:100%;width:100%"></md-icon>
                    </div>
                </div>

                <div layout="column" flex="95" style="margin-top: 35px !important; margin-right: 15px; margin-left:15px;padding:0px;border-radius: 5px;background-color: white;color: #676767;border: 1px solid #ececec;background-color: white;border-left-width: 5px;border-left-color: #009dc7;box-shadow: 1px 1px 7px 0px #c5c3c3;">

                    <md-toolbar style="min-height: 50px;background-color:#F4F4F4;color:rgb(0,150,136);z-index:0;height: 30px;">
                        <div class="md-toolbar-tools">
                            <h5 style="margin:auto 10px auto;font-weight:500;color: #009dc7;margin-top: 10px;margin-bottom: 10px;">Observations and Insights</h5>
                            <span flex></span>

                        </div>
                    </md-toolbar>

                    <ul>
                        <li ng-repeat="event in sia.selectedAbnormalTimePeriod.data.Events" style="list-style-type: square;font-size:15px;margin-top:8px">{{::event.Message}}</li>
                    </ul>
                </div>
            </md-list-item>

            <md-list-item layout="row" style="padding:0">

                <div class="discussion-timeline"></div>
                <div layout="column" flex="5">
                    <div class="discussion-timeline-solution-icon">
                        <md-icon md-svg-icon="success" style="height:100%;width:100%"></md-icon>
                    </div>
                </div>

                <div layout="column" flex="95" style="margin-top: 35px !important; margin-right: 15px !important; margin-left:15px;padding:0px;border-radius: 5px;background-color: white;color: #676767;border: 1px solid #ececec;background-color: white;border-left-width: 5px;border-left-color: #25ae88;box-shadow: 1px 1px 7px 0px #c5c3c3;">

                    <md-toolbar style="min-height: 50px;background-color:#F4F4F4;color:rgb(0,150,136);z-index:0;height: 30px;">
                        <div class="md-toolbar-tools">
                            <h5 style="margin:auto 10px auto;font-weight:500;color: #25ae88;margin-top: 10px;margin-bottom: 10px;">Troubleshotting Steps</h5>
                            <span flex></span>
                        </div>
                    </md-toolbar>

                    <ul style="margin-top:0" ng-if="sia.selectedAbnormalTimePeriod.data.Solutions.length !== 0">
                        <li ng-repeat="solution in sia.selectedAbnormalTimePeriod.data.Solutions" style="list-style-type: square;font-size:15px;margin-top:10px">
                            {{::solution.DisplayName}}<span ng-if="::solution.Description !== ''">: {{::solution.Description}}</span>
                        </li>
                    </ul>
                    <div ng-if="sia.selectedAbnormalTimePeriod.data.Solutions.length === 0">No Solutions Provided. (Please report using feedback button at top)</div>
                </div>
            </md-list-item>

            <md-list-item layout="row" style="padding:0;padding-bottom:30px">

                <div class="discussion-timeline"></div>
                <div layout="column" flex="5">
                    <div class="discussion-timeline-data-icon">
                        <md-icon md-svg-icon="evidence" style="height:100%;width:100%"></md-icon>
                    </div>

                </div>

                <div layout="column" flex="95" style="padding-top:10px">

                    <div style="margin:10px;margin-top:20px" ng-repeat="event in sia.selectedAbnormalTimePeriod.data.Events">

                        <detector-view loading="::sia.DetectorData[event.Source].loading"
                                       chartoptions="::sia.DetectorData[event.Source].chartoptions"
                                       chartdata="::sia.DetectorData[event.Source].chartdata"
                                       info="::sia.DetectorData[event.Source].info" ,
                                       responsemetadata="::sia.DetectorData[event.Source].responsemetadata"
                                       wiki="::sia.DetectorData[event.Source].wiki"
                                       solution="::sia.DetectorData[event.Source].solution"
                                       metricsets="::sia.DetectorData[event.Source].metricsets"
                                       additionaldata="::sia.DetectorData[event.Source].additionalData"
                                       selectedworker="::event.Instance"
                                       detectorsource="::event.Source"
                                       abnormaltimeperiod="::sia.selectedAbnormalTimePeriod.data">
                        </detector-view>

                    </div>

                </div>

            </md-list-item>

        </div>

    </div>

</md-list>