<div ng-if="site.site.kind === 'functionapp'" style="height:20px;padding:10px;margin-bottom:15px">
    <div style="height:100%;background-color:#ffe2cb;border-radius:5px;padding:10px">
        <ng-md-icon icon="warning" style="fill:#ff7722" size="20"></ng-md-icon>
        For <span style="font-weight:500">Dynamic Sku</span> Apps, Data presented here may be incomplete or include other function apps running on the same machines as the selected function app.
    </div>
</div>
<div style="height:20px;padding:10px;margin-bottom:15px;font-size:large">
    <div style="height:100%;background-color:#ffe2cb;border-radius:5px;padding:10px">
        <ng-md-icon icon="warning" style="fill:#ff7722" size="20"></ng-md-icon>
        Applens V2 is retiring soon. Please start using <a target="_blank" href="https://applens.azurewebsites.net/sites/{{::main.site.name}}?startTime={{::site.StartTime}}&endTime={{::site.EndTime}}">Applens V3</a>. If you find a feature missing in ApplensV3, please provide feedback to <a target="_blank" href="https://www.surveymonkey.com/r/XRYN5QP">Applens Team.</a>
    </div>
</div>

<div flex="25" layout="row" class="md-sticky">
    <div layout="column" flex="5"></div>
    <md-card flex="95">

        <div ng-if="((site.analysisType === 'appAnalysis'  || site.analysisType === 'memoryAnalysis') && site.dataLoading) || (site.analysisType === 'perfAnalysis' && site.perfDataLoading) || (site.analysisType === 'tcpConnectionsAnalysis' && site.portRejectionsDataLoading)" layout="row" layout-sm="column" layout-align="space-around" ng-style="::{'height':site.containerHeight}">
            <div layout="column" layout-align="center center">
                <md-progress-circular md-mode="indeterminate" md-diameter="40"></md-progress-circular>
            </div>
        </div>

        <md-card-content ng-if="(site.analysisType === 'appAnalysis' || site.analysisType === 'memoryAnalysis' && !site.dataLoading) || (site.analysisType === 'perfAnalysis' && !site.perfDataLoading) || (site.analysisType === 'tcpConnectionsAnalysis' && !site.portRejectionsDataLoading)" flex layout-align="space-between" layout="column">
            <div flex>
                <downtime-timeline height="'20px'"></downtime-timeline>
                <nvd3 ng-if="site.analysisType === 'appAnalysis'  || site.analysisType === 'memoryAnalysis'" options="::site.availabilityChartOptions" data="::site.avaiabilityChartData"></nvd3>
                <nvd3 ng-if="site.analysisType === 'perfAnalysis'" options="::site.latencyChartOptions" data="::site.latencyChartData"></nvd3>
                <nvd3 ng-if="site.analysisType === 'tcpConnectionsAnalysis'" options="::site.portRejectionsChartOptions" data="::site.portRejectionsChartData"></nvd3>
            </div>
        </md-card-content>

    </md-card>
</div>

<md-content flex layout="row">
    <div flex layout="column" style="height:fit-content">
        <div flex="30" layout="row">
            <div layout="column" flex="5" layout-align="center center"></div>
            <md-card layout="column" flex="95">
                <div ng-if="((site.analysisType === 'appAnalysis' || site.analysisType === 'perfAnalysis' || site.analysisType === 'memoryAnalysis') && site.dataLoading) || ( site.analysisType === 'tcpConnectionsAnalysis' && site.tcpConnectionsDataLoading )" layout="row" layout-sm="column" layout-align="space-around" ng-style="::{'height':site.containerHeight}">
                    <div layout="column" layout-align="center center">
                        <md-progress-circular md-mode="indeterminate" md-diameter="40"></md-progress-circular>
                    </div>
                </div>

                <md-card-content ng-if="((site.analysisType === 'appAnalysis' || site.analysisType === 'perfAnalysis' || site.analysisType === 'memoryAnalysis') && !site.dataLoading) " flex layout-align="space-between" layout="column">
                    <div flex>
                        <nvd3 options="::site.requestsChartOptions" data="::site.requestsChartData"></nvd3>
                    </div>
                </md-card-content>
                <md-card-content ng-if="(site.analysisType === 'tcpConnectionsAnalysis' && !site.tcpConnectionsDataLoading) " flex layout-align="space-between" layout="column">
                    <div flex>
                        <nvd3 options="::site.tcpConnectionsChartOptions" data="::site.tcpConnectionsChartData"></nvd3>
                    </div>
                </md-card-content>

            </md-card>
        </div>

        <incident-notification></incident-notification>

        <div flex="5" layout="row" ng-if="(site.avgAvailability && (site.analysisType === 'appAnalysis')) || (site.recentSupportCaseOpened)">

            <div layout="column" flex="5" layout-align="center center"></div>

            <div layout="column" flex="95" style="display:inline">

                <div ng-if="site.avgAvailability && (site.analysisType === 'appAnalysis')" style="display:inline-block;">
                    <p style="margin-bottom:0;font-weight:400" class="custom-theme-{{site.ThemeService.getTheme()}}">
                        <ng-md-icon icon="equalizer" style="fill:teal;font-size:12px"></ng-md-icon>
                        Organic SLA
                    </p>
                    <h3 style="font-weight:500;margin-top:5px;font-size:22px;color:#585858">{{site.avgAvailability}} %</h3>
                </div>

                <div ng-if="site.recentSupportCaseOpened" style="display:inline-block;margin-left:35px">
                    <p style="margin-bottom:0;font-weight:400" class="custom-theme-{{site.ThemeService.getTheme()}}">
                        <ng-md-icon icon="error" style="fill:#FF6F00;font-size:13px"></ng-md-icon> Recent Support Ticket
                    </p>

                    <md-button class="md-raised" ng-click="site.openASC()">
                        <img class="yourClass" src="app/assets/images/ASC.png" style="vertical-align:middle;height:20px;width:20px">
                        <span style="color:#2c86db">Open in Azure Support Center</span>
                    </md-button>
                </div>

            </div>
        </div>

        <div flex layout="row">

            <div flex ui-view="childContent"></div>

        </div>
    </div>
</md-content>

